body {
  line-height: 1.4;
  color: #333;
  font-family: Helvetica,STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial ;
  font-size: 14px;
  background: white;
}
input,
textarea,
select {
  font-size: 12px;
  font-size: 100%;
  font-family: arial;
  font-family: inherit;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
form,
i,
b,
u,
span,
input,
textarea,
select,
dl,
dd,
dt {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.5em;
  font-weight: normal;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1.2em;
  font-weight: normal;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 1em;
  font-weight: normal;
}
i,
b,
u,
span {
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}
ul,
ol {
  padding-left: 0;
  list-style-type: none;
}
a img {
  border: 0;
}
img {
  border: 0;
}
a {
  text-decoration: none;
  outline: none;
  -webkit-touch-callout: none;
}
a:hover {
  text-decoration: none;
}
img {
  -webkit-touch-callout: none;
  vertical-align: bottom;
}
a:link,
a:visited {
  text-decoration: none;
}
input:focus {
  outline: none;
}
input,
button,
select,
textarea {
  -webkit-appearance: none;
  outline: none;
}
textarea {
  resize: none;
}
em {
  font-style: normal;
}
/* ==========================================================================
   Component: Aniamtion
 ============================================================================ */
[class*="am-"] {
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
/* Fade */
/* Scale */
/* Slide */
/* Shake */
/* Spin */
/* Spring */
/* Keyframes
 ============================================================================ */
/* Fade */
@-webkit-keyframes am-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes am-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Scale up */
@-webkit-keyframes am-scale {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes am-scale {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes am-scale-heart {
  0% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes am-scale-heart {
  0% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes am-scale-up {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes am-scale-up {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/* Scale down */
@-webkit-keyframes am-scale-down {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes am-scale-down {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/* Slide top */
@-webkit-keyframes am-slide-top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes am-slide-top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/* Slide bottom */
@-webkit-keyframes am-slide-bottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes am-slide-bottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/* Slide left */
@-webkit-keyframes am-slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes am-slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/* Slide right */
@-webkit-keyframes am-slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes am-slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/* Shake */
@-webkit-keyframes am-shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(-9px);
            transform: translateX(-9px);
  }
  20% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  30% {
    -webkit-transform: translateX(-7px);
            transform: translateX(-7px);
  }
  40% {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  60% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
  70% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  90% {
    -webkit-transform: translateX(-1px);
            transform: translateX(-1px);
  }
}
@keyframes am-shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(-9px);
            transform: translateX(-9px);
  }
  20% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  30% {
    -webkit-transform: translateX(-7px);
            transform: translateX(-7px);
  }
  40% {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  60% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
  70% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  90% {
    -webkit-transform: translateX(-1px);
            transform: translateX(-1px);
  }
}
/* Slide top fixed */
@-webkit-keyframes am-slide-top-fixed {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes am-slide-top-fixed {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/* Slide bottom fixed */
@-webkit-keyframes am-slide-bottom-fixed {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes am-slide-bottom-fixed {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/* Spin */
@-webkit-keyframes am-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@keyframes am-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
/* Spring */
@-webkit-keyframes am-right-spring {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes am-right-spring {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes am-left-spring {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes am-left-spring {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/**
*
* 变量
** 1.设置默认字体大小
** 2.每份rem的大小
*
**/
/*1*/
/*2*/
/**
* 循环函数
**/
/**
* 通用混合函数
**/
/**
* resets
**/
body,
html,
ul,
ol,
section,
header,
footer {
  margin: 0;
  padding: 0;
}
*:before,
*:after {
  box-sizing: border-box;
}
/**
* start
**/
html {
  height: 100%;
  font-size: 20px;
}
@media only screen and (min-width: 352px) {
  html {
    font-size: 22px !important;
  }
}
@media only screen and (min-width: 384px) {
  html {
    font-size: 24px !important;
  }
}
@media only screen and (min-width: 416px) {
  html {
    font-size: 26px !important;
  }
}
@media only screen and (min-width: 448px) {
  html {
    font-size: 28px !important;
  }
}
@media only screen and (min-width: 480px) {
  html {
    font-size: 30px !important;
  }
}
@media only screen and (min-width: 512px) {
  html {
    font-size: 32px !important;
  }
}
@media only screen and (min-width: 544px) {
  html {
    font-size: 34px !important;
  }
}
@media only screen and (min-width: 576px) {
  html {
    font-size: 36px !important;
  }
}
@media only screen and (min-width: 608px) {
  html {
    font-size: 38px !important;
  }
}
@media only screen and (min-width: 640px) {
  html {
    font-size: 40px !important;
  }
}
body {
  height: 100%;
  margin: 0;
}
/**
* 加载遮罩
**/
.mask {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
}
.mask .loading {
  width: 200px;
  height: 90px;
  top: 50%;
  right: none;
  bottom: none;
  left: 50%;
  position: absolute;
  margin-top: -45px;
  margin-left: -100px;
  text-align: center;
  color: #fff;
}
.mask .loading:before {
  width: 20px;
  height: 20px;
  content: '';
  display: inline-block;
  -webkit-animation: rotate 1s steps(12) infinite;
  background: url(../images/loading_sprite_white.png);
  -webkit-background-size: auto 20px;
}
@-webkit-keyframes rotate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -240px 0;
  }
}
/**
* 统一的元素
**/
.active-footer,
.act-denglong,
.act-tit,
.act-btn,
.act-btn,
.act-note {
  position: absolute;
}
/**
* 正文开始
**/
.active-wrap {
  width: 100%;
  height: 100%;
  top: none;
  right: none;
  bottom: 0;
  left: 0;
  min-height: 20rem;
  min-width: 14rem;
  max-width: 640px;
  margin: 0 auto;
  position: relative;
  background-image: url(../images/bg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #220a09;
}
.active-footer {
  display: none;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: am-slide-bottom;
          animation-name: am-slide-bottom;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  width: 100%;
  height: 6.85rem;
  top: none;
  right: none;
  bottom: 0;
  left: 0;
  background-image: url(../images/ft-bg.png);
  background-size: cover;
  background-position: left bottom;
  background-repeat: no-repeat;
}
.act-denglong {
  display: none;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: am-slide-top;
          animation-name: am-slide-top;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  width: 6rem;
  height: 12.25rem;
  top: 0;
  right: none;
  bottom: none;
  left: 0;
  background: url(../images/denglong.png);
  background-size: cover;
}
.act-tit {
  display: none;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: am-slide-top;
          animation-name: am-slide-top;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  width: 10.175rem;
  height: 9.2rem;
  top: 0;
  right: 0;
  bottom: none;
  left: none;
  background: url(../images/tit.png);
  background-size: cover;
}
.act-btn {
  display: none;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: am-scale-heart;
          animation-name: am-scale-heart;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  width: 5.55rem;
  height: 5.55rem;
  top: 50%;
  right: none;
  bottom: none;
  left: 50%;
  background: url(../images/btn.png);
  background-size: cover;
  z-index: 1;
  margin-left: -2.75rem;
  margin-top: -2rem;
}
.act-btn a {
  display: block;
  width: 100%;
  height: 100%;
}
.act-note {
  top: none;
  right: 2rem;
  bottom: 2rem;
  left: none;
  color: #fff;
  font-size: .7rem;
}
.act-note span {
  color: #ff5123;
}
.g-bg {
  background-color: #efefef;
}
.clear {
  clear: both;
  content: '';
  display: block;
}
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
hr {
  width: 100%;
  height: 0px;
  border: 0;
  border-bottom: 1px solid #ddd;
}
.search-mode {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}
.search-mode .search-select {
  padding-right: 25px;
  padding-left: 15px;
  position: relative;
  background: #fff;
}
.search-mode .search-select select {
  width: 100%;
  height: 50px;
  color: #9b9b9b;
  display: block;
  background: #fff;
  border: none;
  -webkit-appearance: none;
  border-radius: 0px;
}
.search-mode .search-select:before {
  content: '';
  display: block;
  position: absolute;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 20px;
  right: 10px;
  border-left: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  width: 5px;
  height: 5px;
}
.search-mode .search-input {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #fff;
}
.search-mode .search-input input {
  border: none;
  height: 50px;
  width: 100%;
  border-radius: 0px;
  padding-left: 20px;
}
.search-mode .search-btn {
  width: 80px;
  height: 50px;
  border-left: 1px solid #E2DEDE;
}
.search-mode .search-btn button {
  background: -webkit-linear-gradient(90deg, #ececec 0%, #ffffff 100%);
  background: linear-gradient(0deg, #ececec 0%, #ffffff 100%);
  height: 50px;
  font-size: 14px;
  color: #4D4D4D;
  border: none;
  width: 100%;
}
.search-mode .search-btn.disable-btn button {
  background: #ccc;
  color: #9b9b9b;
}
.card-tab {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.card-tab li {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  height: 40px;
  line-height: 40px;
}
.card-tab li.active {
  background: #f80;
  color: #fff;
}
.card-tab li:first-child {
  border-right: 1px solid #ddd;
}
.map-view {
  width: 100%;
  height: 300px;
  border: 1px solid #DFDFDF;
  background: #fff;
}
.btn {
  border: none;
  height: 40px;
  line-height: 40px;
  display: block;
  text-align: center;
  margin: 10px;
}
.btn_primary {
  background: #f80;
  color: #fff;
}
.btn_disabled {
  background: #ccc !important;
  color: #fff !important;
}
.btn_deful {
  background: #fff;
  color: #ddd;
  border: 1px solid #ddd;
}
.card-list .list-tit {
  padding: 10px 10px 0px;
  font-size: 14px;
}
.card-list .card-item {
  border-top: 1px solid ;
  border-bottom: 1px solid;
  border-color: #e8e8e8;
  background-color: #fff;
  margin: 0px 0;
  position: relative;
}
.card-list .card-item .list-tit {
  margin: 10px;
  padding: 0;
  ont-size: 14px;
  color: #5ea626;
  position: relative;
}
.card-list .card-item .list-tit .more {
  color: #ff8815;
  position: absolute;
  right: 0px;
}
.card-list .card-item.item-site .item-cont {
  padding-right: 100px;
}
.card-list .card-item.item-site .item-cont .data {
  position: absolute;
  top: 50%;
  margin-top: -9px;
  right: 20px;
  color: #ff8800;
}
.card-list .card-item a.item-cont {
  display: block;
}
.card-list .card-item b {
  font-weight: 900;
  color: #3d3d3d;
}
.card-list .card-item i {
  color: #9b9b9b;
}
.card-list .card-item .jump {
  position: relative;
}
.card-list .card-item .jump:before {
  right: 15px;
  top: 50%;
  margin-top: -5px;
  position: absolute;
  width: 8px;
  height: 8px;
  content: '';
  line-height: 45px;
  border: #bbbbc1 solid;
  border-width: 2px 0 0 2px;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}
.card-list .card-item .jump .data {
  margin-right: 13px;
}
.card-list .card-item .item-cont {
  padding: 15px 0;
  border-bottom: 1px solid ;
  border-color: #e8e8e8;
  margin-left: 15px;
  padding-right: 15px;
  position: relative;
}
.card-list .card-item .item-cont.flex3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.card-list .card-item .item-cont.flex3 .data {
  margin-right: 100px;
}
.card-list .card-item .item-cont.flex3 .fr {
  color: #ff8815;
}
.card-list .card-item .item-cont.on i {
  color: #3d3d3d;
}
.card-list .card-item .item-cont:last-child {
  border-bottom: 0px;
}
.card-list .card-item .item-cont::after {
  clear: both;
  content: '';
  display: block;
}
.card-list .card-item .item-cont .name {
  float: left;
}
.card-list .card-item .item-cont .name.input-name {
  width: 80px;
  float: left;
  display: block;
}
.card-list .card-item .item-cont .data {
  float: right;
}
.card-list .card-item .item-cont .data.a-color {
  color: #ff8815;
}
.card-list .card-item .item-cont .data.t-color {
  color: #5ea626;
}
.card-list .card-item .item-cont .data.data-input {
  margin-left: 80px;
  position: relative;
  float: none;
  color: #ABABAB;
}
.card-list .card-item .item-cont .data.data-input .input {
  display: inline;
  color: #9b9b9b;
  text-align: right;
  border: none;
  width: 100%;
  background: #fff;
}
.card-list .card-item .item-cont .data.data-input .input.data {
  width: inherit;
}
.card-list .card-item .item-cont .data.data-input .select {
  color: #9b9b9b;
  border: none;
  display: inline;
  text-align: right;
  float: right;
}
.card-list .card-item .item-cont .small {
  margin-left: 10px;
}
.card-list .card-item .item-cont .break {
  color: #9b9b9b;
  clear: both;
  padding-top: 5px;
  display: block;
}
.mask {
  opacity: 0.7;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-user-select: none;
  z-index: 99;
  background: #000000;
}
.check-box {
  width: 90%;
  position: absolute;
  top: 30px;
  background: #fff;
  z-index: 999;
  border-radius: 10px;
  overflow: hidden;
  left: 5%;
  top: 100px;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.2);
}
.check-box .close {
  display: block;
  width: 50px;
  height: 50px;
  background: #f9f9f9;
  border-left: 1px solid #ddd;
  position: absolute;
  right: 0px;
  top: 0px;
}
.check-box .close:after,
.check-box .close:before {
  background: #ccc;
  top: 10px;
  left: 22px;
  width: 3px;
  height: 30px;
  content: '';
  display: block;
  position: absolute;
}
.check-box .close:after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.check-box .close:before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.check-box .close:active {
  background: #fff;
}
.check-box .close:active:after,
.check-box .close:active:before {
  background: #E4E4E4;
}
.check-box .tit {
  height: 50px;
  position: relative;
  color: #666;
  background: #fff;
  line-height: 50px;
  padding: 0 10px;
  text-align: center;
  font-size: 16px;
  border-bottom: 1px solid #ddd;
}
.check-box .box {
  text-align: center;
  padding: 20px 0;
  background: #FCFCFC;
}
.check-box .box .error {
  color: #ff0000;
}
.check-box .box .success {
  color: #008000;
}
.check-box {
  -webkit-animation: bounceIn .8s 0s ease both;
          animation: bounceIn .8s 0s ease both;
}
@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  70% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  70% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.load-btn {
  margin: 10px 10px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #ddd;
  cursor: pointer;
  background: -webkit-linear-gradient(90deg, #ececec 0%, #ffffff 100%);
  background: linear-gradient(0deg, #ececec 0%, #ffffff 100%);
}
.empty {
  width: 100%;
  position: ;
  padding-top: 70px;
  padding-bottom: 70px;
  z-index: -1;
  height: 140px;
  background: #efefef;
  text-align: center;
}
.empty .pic {
  padding-bottom: 20px;
}
.empty .txt {
  margin: 0 40px;
  color: #B8B8B8;
}
.empty .pic_icon {
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
  zoom: 1;
  vertical-align: middle;
  background: #ccc;
  border-radius: 100px;
}
.empty .pi_search:before {
  content: '';
  width: 100px;
  height: 100px;
  display: block;
  background: url(../images/empty.png);
  background-size: 100px 100px;
}
.empty .pi_search:before {
  background-position: 0 0px;
}
.empty h2 {
  font: 700 14px / 20px arial;
}
.msg,
.msg-error {
  font-size: 28px;
  font-weight: 900;
  color: #ff8815;
  text-align: center;
  line-height: 46px;
  padding: 10px 0;
}
.msg-error {
  font-size: 16px;
  font-weight: 300;
}
.img {
  margin: 20px 30px;
}
.img .inner:after {
  content: '';
  display: block;
  clear: both;
}
.house,
.mm {
  width: 50%;
  float: left;
  text-align: center;
}
.house img {
  width: 100%;
}
.mm img {
  width: 50%;
}
.info {
  margin: 0 30px;
  font-size: 12px;
  color: #ddd;
}
.info.error {
  line-height: 2;
}
.info span {
  width: 100px;
  float: left;
  overflow: hidden;
  display: block;
}
.info li em {
  margin-left: 100px;
  display: block;
}
.info li {
  line-height: 2;
}
.info li em strong {
  background: #ff8815;
  color: #fff;
  display: inline-block;
  padding: 0 3px;
}
.btnbox,
.back {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.btnbox > .btn {
  border-radius: 30px;
  color: #fff;
  padding: 10px 20px;
  background: #ff8815;
  display: inline-block;
}
.back > .btn {
  border-radius: 30px;
  color: #fff;
  padding: 0px 20px;
  color: #484848;
  background: -webkit-linear-gradient(#ffffff, #eeeeee);
  border: 1px solid #c5c5c5;
  display: inline-block;
}
.back > .btn a {
  width: 100%;
  height: 100%;
  display: block;
}
.btnbox > .btn a {
  width: 100%;
  height: 100%;
  display: block;
  color: #fff;
}
.step {
  background-color: #ff8815;
  color: #fff;
  position: relative;
  top: -1px;
}
.step dl {
  margin-top: 0px;
}
.step dl dt {
  text-align: center;
  background: url(../images/step_arrow.png);
  -webkit-background-size: 100% 100%;
  font-size: 18px;
  background-size: 100% 100%;
  height: 50px;
  overflow: hidden;
  line-height: 60px;
}
.step dl dd {
  line-height: 2;
  padding: 0 20px;
  font-size: 12px;
  margin-bottom: 10px;
  overflow: hidden;
}
.step dl dd em {
  display: inline-block;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  border-radius: 100px;
  border: 2px solid #fff;
  margin-right: 8px;
}
.gty-detail .name {
  float: none !important;
  margin-bottom: 10px;
}
.gty-detail ul {
  margin-top: 20px;
  color: #AEAEAE;
}
.gty-detail .item {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.gty-detail .item > span {
  width: 60px;
  display: block;
}
.gty-detail .item > u {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
